@import '../_import.scss';

#page-content {
  .wrapper {
    max-width: 600px;
    margin: 80px auto;
  }
  form {
    label {
      width: 100%;
      text-transform: uppercase;
      font-size: 13px;
      color: $text-1;
      margin-bottom: 6px;
    }
    select {
      width: 100%;
      border: 1px solid $border-0;
      padding: 12px;
    }
    .form-row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;
    }
  }
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='date'],
input[type='email'],
textarea,
select {
  font-size: 15px;
  padding: 10px;
  border: 1px solid $text-0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &:disabled {
    opacity: 0.4;
  }
  &:focus {
    box-shadow: 0 0 0 1px rgba($text-0, 0.15);
  }
}

select {
  line-height: 1.547;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
  background-color: #fff;
  border-radius: 0px;
}

input[type='checkbox'],
input[type='radio'] {
  margin-right: 3px;
  accent-color: black;
}

@mixin btn-base {
  transition: all 0.3s;
  padding: 12px 18px;
  display: inline-flex;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1em;
  &.disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  &.btn-lg {
    padding: 18px;
    font-size: 18px;
  }
}

.btn,
.gform_button {
  @include btn-base;
  background-color: black;
  color: white;
  box-shadow: inset 0 0 0 1px transparent;
  &:not(.disabled):hover {
    box-shadow: inset 0 0 0 1px black;
    background-color: transparent;
    color: black;
  }
}

input.btn,
button.btn {
  border: none;
}
